* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: #174119;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

header {
    width: 100%;
    height: 450px;
    background: #475a47;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(147, 24%, 45%, 0.671), hsla(135, 20%, 30%, 0.473)), url(../imagenes/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(147, 24%, 45%, 0.671), hsla(135, 20%, 30%, 0.473)), url(../imagenes/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.encabezado {
    text-align: right;
    padding: 30px 50px 0 0;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #ffffff;
}

main {
    width: 100%;
    margin: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 45% 55%;

}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 150%;
    color: #174119;
    text-align: center;
}

iframe {
    margin: auto;
    height: 100;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #579257;
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 6fr;
    gap: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #475a47;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(147, 24%, 45%, 0.671), hsla(135, 20%, 30%, 0.473)), url(../imagenes/fondo.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(147, 24%, 45%, 0.671), hsla(135, 20%, 30%, 0.473)), url(../imagenes/fondo.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-input-container {
    position: relative;
}

.search-input {
    text-align: center;
    width: 400px;
    margin-right: 10px;
}

.clear-button {
    color: black;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.clear-button:hover {
    color: red;
}

footer {
    background: #333;
    padding: 40px 0 40px 0;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
}

.content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    border: none;
}

.titulo-final {
    text-align: left;
    font-size: 10px;
    margin: 20px 0 0 20px;
    color: #9e9797;
}

.formulario__label-obligatorio::after {
    content: '*';
    color: red;
}

.formulario__mensaje-activo {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

input:required:invalid {
    border: 2px solid red;
}

input:required:valid {
    border: 2px solid green;
}


/* ----- -----  Mediaqueries formulario----- ----- */
@media screen and (max-width: 800px) {
    .contact {
        text-align: center;
    }

    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}

/*responsive*/
@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    main {
        width: 100%;
        margin: auto;
        padding: 40px;
        display: block;

    }

    iframe {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    .imagen-port {
        width: 95%;
    }

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border: none;
    }

    .content-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }

}