|*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
body {
    text-align: center;
    
    

      
}
h1{
    font-size: 250;
        
        font-family: 'Roboto', sans-serif; 
}
p{
    color: red;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#parrafo2 {
    font-family: 'Times New Roman', Times, serif;
}