/* Estilos generales */
/* font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif; */
body {
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: auto;
  }

  h1 {
    margin: 0;

    margin: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  /* Estilos específicos del index */

  .banner {
    background-image: url('banner.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000;
  }

  .productos {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .producto {
    width: calc(33.33% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 20px;
  }

  .producto img {
    width: 100%;
  }

  .producto h3 {
    margin: 10px 0;
  }

  .producto p {
    margin: 10px 0;
  }

  .producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
  }

  .producto button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }
  /* Estilos específicos de productos */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
    .grid-item {
    position: relative;
}

.product-img {
    width: 100%;
    height: auto;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup img {
    max-width: 12.5%;
    max-height: 10%;
    margin-top: 2%;
}

.popup h2 {
    color: white;
    font-size: 1.5em;
    margin-top: 0;
}

.popup p {
    color: white;
    font-size: 0.8em;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
}

.category {
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}

.category:hover,
.category.active {
  background-color: #333;
  color: #fff;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.item.active {
  display: block;
  opacity: 1;
}

.item.inactive {
  display: none;
  opacity: 0;
}
