<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto FullStack Grupo 20: Maria Narvaez - Sergio Lopez - Anahí Landero</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ac8045f2b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <a href="producto.html">Proyecto Final</a>
            <a href="index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="quienesSomos.html">Quienes Somos</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <section class="textos-header">
            <img src="imagenes/Logo.jpeg" width="50" height="50" alt="Logo">
            <h1>Tu Tabaqueria</h1>
            <h2>Encuentra y elige tus preferidos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
    </header>
    <div id="app" class="container">
        <div class="categories">
            <button type="button" class="category" @click="setFilter('all')">Todos</button>
            <button class="category" @click="setFilter('Tabaco')">Tabaco</button>
            <button class="category" @click="setFilter('Filtro')">Filtros</button>
            <button class="category" @click="setFilter('Papel')">Papeles</button>
        </div>
        <div class="product-grid">
            <div class="column" v-for="producto in filteredProductos" :key="producto.id">
                <div class="item" v-if="producto.mostrar">
                    <img :src="producto.imagen" :alt="producto.nombre">
                    <h3>{{ producto.nombre }}</h3>
                    <p><span class="currency">$</span>{{ producto.precio.toFixed(2) }}</p>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>
                    <a href="https://wa.me/+5491123000301?text=Hola,%20quiero%20enviar%20un%20mensaje" target="_blank">
                        <i class="fab fa-whatsapp fa-beat-none fa-2xl" style="color: #e7f3e3; margin-right: 5px;"></i>
                    </a>
                </h4>
                <p>Contactanos</p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-solid fa-envelopes-bulk fa-2xl"></i><a href="contacto.html"></a></h4>
                <p>mari@mailinator.com</p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-solid fa-signs-post fa-2xl"></i><a href="contacto.html"></a></h4>
                <p>Echeverria 5133, C.A.B.A</p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-brands fa-facebook  fa-2xl"></i>
                    <i class="fa-brands fa-instagram  fa-2xl"></i>
                    <i class="fa-brands fa-twitter  fa-2xl"></i>
                </h4>
                <p>Visitanos</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; 2023 Tu Tabaqueria. Todos los derechos reservados.</h2>
    </footer>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
</body>

</html>