<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto FullStack Grupo 20: Maria Narvaez - Sergio Lopez - Anahí Landero</title>
    <link rel="stylesheet" href="../css/crud.css">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/3ac8045f2b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="encabezado">
            <a href="producto.html">Proyecto Final</a>
            <a href="index.html">Inicio</a>
            <a href="productos.html">Productos</a>
            <a href="quienesSomos.html">Quienes Somos</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <section class="textos-header">
            <img src="../imagenes/Logo.jpeg" width="50" height="50" alt="Logo">
            <h1>Tu Tabaqueria</h1>
            <h2>C R U D </h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #ffffff;"></path>
            </svg>
        </div>
    </header>
    <h1>Gestión de productos</h1>
    <main class="d-flex justify-content-center align-items-center">
        <div id="app" class="container">
            <div class="table-responsive">
                <nav aria-label="Pagination" class="text-center">
                    <ul class="pagination justify-content-center text-center">
                        <li class="page-item" v-bind:class="{ 'disabled': currentPage === 1 }">
                            <a class="page-link" href="#" v-on:click="changePage(1)">&laquo;</a>
                        </li>
                        <li class="page-item" v-bind:class="{ 'disabled': currentPage === 1 }">
                            <a class="page-link" href="#" v-on:click="changePage(currentPage - 1)">&lsaquo;</a>
                        </li>
                        <li class="page-item" v-for="page in totalPages"
                            v-bind:class="{ 'active': currentPage === page }">
                            <a class="page-link" href="#" v-on:click="changePage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" v-bind:class="{ 'disabled': currentPage === totalPages }">
                            <a class="page-link" href="#" v-on:click="changePage(currentPage + 1)">&rsaquo;</a>
                        </li>
                        <li class="page-item" v-bind:class="{ 'disabled': currentPage === totalPages }">
                            <a class="page-link" href="#" v-on:click="changePage(totalPages)">&raquo;</a>
                        </li>
                    </ul>
                </nav>
                <tr>
                    <td colspan="8">
                        <div class="search-bar">
                            <div class="search-input-container">
                                <input type="text" v-model="filtro" placeholder="Buscar producto"
                                    class="search-input" />
                                <button class="clear-button" v-if="filtro" @click="limpiarFiltro">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15%">Imagen</th>
                            <th scope="col" style="width: 40%">Producto*</th>
                            <th scope="col" style="width: 2%">Precio*</th>
                            <th scope="col" style="width: 2%">Stock*</th>
                            <th scope="col" style="width: 5%">Categoría*</th>
                            <th scope="col" style="width: 3%">Mostrar</th>
                            <th scope="col" style="width: 20%">Nueva Imagen</th>
                            <th scope="col" style="width: 10%">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img v-if="nuevoProducto.imagen" :src="nuevoProducto.imagen" :alt="nuevoProducto.nombre"
                                    width="60" height="60"></td>
                            <td><input type="text" v-model="nuevoProducto.nombre" placeholder="Nombre nuevo producto" />
                            </td>
                            <td><input type="number" v-model.number="nuevoProducto.precio" placeholder="0" /></td>
                            <td><input type="number" v-model.number="nuevoProducto.stock" placeholder="0" /></td>
                            <td>
                                <select v-model="nuevoProducto.categoria">
                                    <option value="Tabaco">Tabaco</option>
                                    <option value="Filtro">Filtro</option>
                                    <option value="Papel">Papel</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" v-model="nuevoProducto.mostrar" />
                            </td>
                            <td><input type="text" v-model="nuevoProducto.imagen" placeholder="Nueva URL imagen" /></td>
                            <td>
                                <button type="button" class="btn btn-primary" v-on:click="agregarNuevo">Nuevo</button>
                            </td>
                        </tr>
                        <div v-if="showAlert" class="alert">
                            <p>¡El producto se ha actualizado correctamente!</p>
                            <button @click="showAlert = false">Aceptar</button>
                        </div>
                        <tr v-for="producto in paginatedProductos" :key="producto.id">
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img v-if="producto.imagen" :src="producto.imagen" :alt="producto.nombre" width="60"
                                        height="60">
                                    <img v-else src="../imagenes/sinFoto.png" alt="Sin foto" width="60" height="60">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" v-model="producto.nombre"
                                        @keydown.enter="actualizarProducto(producto)"
                                        @blur="actualizarProducto(producto)" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" v-model.number="producto.precio"
                                        @keydown.enter="actualizarProducto(producto)"
                                        @blur="actualizarProducto(producto)" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" v-model.number="producto.stock"
                                        @keydown.enter="actualizarProducto(producto)"
                                        @blur="actualizarProducto(producto)" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select v-model="producto.categoria" @change="actualizarProducto(producto)">
                                        <option value="Tabaco">Tabaco</option>
                                        <option value="Filtro">Filtro</option>
                                        <option value="Papel">Papel</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="checkbox" v-model="producto.mostrar"
                                        @change="actualizarProducto(producto)" />
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" v-model="producto.imagen" placeholder="Nueva URL imagen"
                                        @keydown.enter="actualizarProducto(producto, true)"
                                        @blur="actualizarProducto(producto, true)" />
                                </div>
                            </td>
                            <td>
                                <div v-if="producto.id !== eliminarId">
                                    <button type="button" class="btn btn-danger"
                                        @click="mostrarConfirmacion(producto.id)">Eliminar</button>
                                </div>
                                <div v-else>
                                    <button type="button" class="btn btn-success"
                                        @click="cancelarEliminacion">Cancelar</button>
                                    <button type="button" class="btn btn-danger"
                                        @click="confirmarEliminacion(producto.id)">Confirmar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4><a href="https://wa.me/+5491123000301?text=Hola,%20quiero%20enviar%20un%20mensaje" target="_blank">
                        <i class="fab fa-whatsapp fa-beat-none fa-2xl" style="color: #e7f3e3; margin-right: 5px;"></i>
                    </a></h4>
                <p>Contactanos </p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-solid fa-envelopes-bulk fa-2xl"></i><a href="contacto.html"></a></h4>
                <p>mari@mailinator.com</p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-solid fa-signs-post fa-2xl"></i><a href="contacto.html"></a></h4>
                <p>Echeverria 5133, C.A.B.A</p>
            </div>
            <div class="content-foo">
                <h4> <i class="fa-brands fa-facebook  fa-2xl"></i>
                    <i class="fa-brands fa-instagram  fa-2xl"></i>
                    <i class="fa-brands fa-twitter  fa-2xl"></i>
                </h4>
                <p>Visitanos</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; 2023 Tu Tabaqueria. Todos los derechos reservados.</h2>
    </footer>
    <script src="https://unpkg.com/vue@3.2.6/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
    <script src="../js/productos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>